/* @value primary-text-color from '../../vars.module'; */

.notification {
  padding: 10px;
  font-weight: bold;
  color: white;
}

.error {
  composes: notification;
  background-color: rgb(236, 33, 101);
}

.success {
  composes: notification;
  background-color: rgb(56, 161, 126);
}
